* {

    margin: 0px;
}

body {
    height: 100vh;
    background-color: rgb(242, 224, 208);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.title {
    align-self: center;
    padding: 32px;
}

.etchMain {
    width: 1200px;
    height: 1000px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.etch {
    width: 50%;
    height: 80%;
    display: grid;
    border: 6px solid rgb(222, 191, 175);
    border-radius: 6px;
    background-color: white;
}

.tools {
    width: 20%;
    height: 70%;
    background-color: rgb(222, 191, 175);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.color {
    width: 20%;
    height: 70%;
    background-color: rgb(222, 191, 175);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.color button {
    background-color: rgb(240, 237, 218);
    border: none;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    width: 200px;
    height: 60px;
}

.tools button {
    background-color: rgb(240, 237, 218);
    border: none;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    width: 200px;
    height: 60px;

}

footer {
    height: 40px;
    padding: 60px;

}